// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

spawn-at-startup "noctalia"
spawn-sh-at-startup "fcitx5 -d"
spawn-at-startup "systemd-run" "--user" "--scope" "/usr/lib/polkit-kde-authentication-agent-1"

